:root {
    --color-bg: #a29f94;
    --color-bg-dark: rgb(57, 55, 78);
    --color-accent: #f25c54;
    --color-accent-dark: #2d5997;
    --color-text: #ADD8E6;
    --color-text-dark: rgb(57, 55, 78);
    --color-text-for-svg: rgb(57, 55, 78);
}

.app{
    width: 100%;
    display: flex;
    gap: 16px;
    background-color: var(--color-bg);
}

.app.dark-mode{
    width: 100%;
    display: flex;
    gap: 16px;
    background-color: var(--color-bg-dark);
}

.content{
    flex: 1;
    margin-right: 16px;
}
